Checks: >-
  -*,
  bugprone-*,
  clang-analyzer-*,
  modernize-*,
  performance-*,
  portability-*,
  readability-*,
  -modernize-use-trailing-return-type,
  -readability-function-cognitive-complexity,
  -readability-identifier-length,
  -readability-magic-numbers
WarningsAsErrors: ''
HeaderFilterRegex: '^(?!.*[\\/]third_party[\\/]).*$'
FormatStyle: file
CheckOptions:
  readability-implicit-bool-conversion.AllowIntegerConditions: 'true'
