BasedOnStyle: LLVM
Language: Cpp
Standard: Latest
IndentWidth: 4
ContinuationIndentWidth: 4
ColumnLimit: 100
PointerAlignment: Left
ReferenceAlignment: Left
DerivePointerAlignment: false
SortIncludes: CaseSensitive
IncludeBlocks: Regroup
BreakBeforeBraces: Attach
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
InsertBraces: true
